@media(max-width: 1330px) {
    .find-apartment .contact-info {
        right: 0;
    }
    // .rent__list-item {
    //     padding: 0;
    // }
    .services__img {
        margin-left: 0;
    }
}

@media(max-width: 1300px) {
    .rent__list {
        width: 790px;
        margin: 0 auto;
    }
}

@media(max-width: 1196px) {
    .services__list {
        margin-left: 20px;
    }
    .super-add__row--even .super-add__location {
        margin-right: 0;
    }
    .super-add__row--even .super-add__image {
        justify-content: center;
    }
    .rent__buttons {
        justify-content: center;
    }
}

@media(max-width: 990px) {
    .header__inner {
        justify-content: space-between;
    }
    .header .logo {
        position: relative;
        z-index: 27;
    }
    .header-btn {
        position: relative;
        z-index: 28;
    }
    .header-menu {
        order: 1;
        margin-right: 0;
        margin-left: 0;
    }
    .header-menu__list {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 25;
        display: flex;
        padding-top: 90px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 25px;
        transform: translateY(-100%);
        transition: transform .5s;
        &--active {
            transform: translateY(0);
        }
    }
    .header-menu__btn {
        display: block;
        position: relative;
        z-index: 30;
        background-color: transparent;
        outline: none;
        border: none;
        padding: 0;
        cursor: pointer;
    }
    .header-menu__btn::before,
    .header-menu__btn::after {
        content: "";
        display: block;
        width: 24px;
        height: 2px;
        background-color: #1f373d;
        margin-bottom: 4px;
        transition: all .5s;
    }
    .header-menu__btn-line {
        display: block;
        width: 24px;
        height: 2px;
        background-color: #1f373d;
        margin-bottom: 4px;
        transition: all .5s;
        opacity: 1;
    }
    .header-menu__btn::after {
        width: 16px;
        margin-bottom: 0;
        margin-left: auto;
    }
    .header-menu__btn.menu-btn--active {
        .header-menu__btn-line {
            opacity: 0;
        }
        &::after {
            width: 24px;
            transform: translateY(-6px) rotate(-135deg)
        }
        &::before {
            transform: translateY(6px) rotate(135deg)
        }
    }
    .find-apartment .form-wrapper {
        margin: 0 auto;
    }
    .statistics {
        padding-top: 64px;
    }
    .statistics__inner {
        display: block;
    }
    .statistics__description,
    .statistics__numbers {
        margin: 0 auto;
    }
    .statistics__item {
        margin-bottom: 28px;
    }
    .services {
        padding-top: 30px;
    }
    .services__inner {
        display: block;
    }
    .services__img {
        display: none;
    }
    .services__list {
        margin-left: 0;
    }
    .super-add__content {
        margin-left: 25px;
    }
    .agents {
        padding-top: 45px;
    }
    .super-add {
        padding-top: 60px;
    }
    .super-add__row {
        flex-direction: column;
        margin-bottom: 65px;
    }
    .super-add__content {
        margin-top: 0;
    }
    .super-add__row--even .super-add__image {
        order: 1;
    }
    .super-add__row--even .super-add__content {
        order: 2;
    }
    .how-it-work .steps {
        display: block;
        margin: 0;
    }
    .how-it-work .steps-item {
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .footer .news-letter__title {
        font-size: 25px;
    }
}

@media (max-width:790px) {
    .find-apartment .form-wrapper {
        width: 100%;
    }
    .find-apartment__title {
        text-align: center;
    }
    .find-apartment .contact-info {
        justify-content: center;
    }
    .find-apartment .contact-info__box {
        margin-left: 0;
    }
    .search-form {
        justify-content: center;
    }
    .rent__list {
        flex-direction: column;
        width: auto;
    }
    .rent__list-item {
        margin-bottom: 42px;
    }
    .rent .appartment-item {
        max-width: 351px;
        width: 100%;
        margin: 0 auto;
    }
    .rent__buttons {
        flex-direction: column;
        align-items: center;
    }
    .rent__form {
        order: 2;
        justify-content: center;
        margin-right: 0;
    }
    .rent__view-all-btn {
        width: 251px;
        height: 71px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 1;
        margin-bottom: 20px;
    }
    .how-it-work .steps {
        padding-bottom: 30px;
    }
}

@media (max-width: 700px) {
    .find-apartment__inner {
        padding-top: 60px;
    }
    .find-apartment__title {
        font-size: 42px;
        line-height: 56px;
    }
    .find-apartment .contact-info__box {
        flex-direction: column;
    }
    .find-apartment .contact-info__phone {
        margin-bottom: 20px;
        padding-top: 30px;
        padding-bottom: 34px;
    }
    .statistics__description {
        width: auto;
    }
    .footer {
        padding-bottom: 40px;
    }
    .footer .news-letter {
        flex-direction: column;
        align-items: center;
        margin-bottom: 45px;
    }
    .footer .news-letter__title {
        margin-bottom: 20px;
    }
    .footer .footer__bottom {
        flex-wrap: wrap;
        .footer-info {
            width: 100%;
            order: 2;
        }
    }
    .footer__logo {
        text-align: center;
        margin-bottom: 30px;
    }
    .copyright {
        display: flex;
        justify-content: center;
    }
    .lists-wrapper {
        width: 100%;
        justify-content: space-between;
    }
    .footer .footer__bottom-list {
        margin-right: 0;
    }
}

@media (max-width: 550px) {
    .title {
        font-size: 33px;
        line-height: 43px;
    }
    .search-form__input {
        width: 282px;
    }
    .suscribe-form__input {
        width: 282px;
    }
    .services__descr,
    .agents__descr,
    .rent__title {
        width: auto;
    }
    .statistics__numbers {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 460px) {
    .footer .footer__bottom-list {
        text-align: center;
    }
    .lists-wrapper {
        flex-wrap: wrap;
    }
    .list-box {
        flex-basis: 45%;
    }
    .list-box__title {
        margin-bottom: 10px;
    }
    .list-box__item {
        margin-bottom: 5px;
    }
    .statistics__numbers {
        width: auto;
    }
}

@media (max-width: 430px) {
    .find-apartment__inner {
        min-height: 500px;
    }
    .title {
        font-size: 28px;
        line-height: 35px;
    }
    .search-form__input {
        width: 250px;
        padding: 15px 10px 15px 30px;
        background-position: 7px center;
    }
    .search-form__btn {
        padding-left: 15px;
        padding-right: 15px;
    }
    .suscribe-form__input {
        width: 250px;
    }
    .header-btn {
        display: none;
    }
    .find-apartment__title {
        font-size: 35px;
        line-height: 49px;
    }
    .how-it-work__descr {
        width: auto;
    }
}

@media (max-width: 380px) {
    .find-apartment .contact-info__phone,
    .location {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .find-apartment .contact-info__box {
        padding-left: 15px;
        padding-right: 15px;
    }
    .location {
        padding-left: 50px;
        padding-right: 30px;
    }
    .find-apartment .contact-info__phone {
        padding-left: 70px;
    }
    .find-apartment .contact-info__phone::before {
        left: 20px;
    }
    .location::before {
        left: 19px;
    }
    .search-form__input {
        width: 200px;
        padding: 15px 10px 15px 30px;
        background-position: 7px center;
    }
    .search-form__btn {
        padding-left: 10px;
        padding-right: 10px;
    }
    .suscribe-form__input {
        width: 200px;
    }
}